.containerNew {
  background-color: #449d44;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

a {
  color: #a50a0d;
}

.panel-title {
  color: #a50a0d;
}

.panel > .panel-heading {
  background-color: #449d44;
  color: #449d44;
}

.panel {
  border-color: #398439;
}

.btn {
  background-color: #449d44;
  border-color: #398439
  color: color: #a50a0d;
}