{{#*inline "page"}}
    <h1>Hi {{name}}</h1>
    <p><a href="/register">Register here</a></p>
    <p><a href="/login">Login here</a></p>
    <p><a href="/logged_out">Log out!</a></p>
{{/inline}}
{{! remove whitespaces with ~ }}
{{~> (parent)~}}