<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Handlebars Demo</title>
</head>
<body>
    <h1>Hi {{name}}</h1>
    <p><a href="/register">Register here</a></p>
    <p><a href="/login">Login here</a></p>
</body>
</html>